<template>
  <div class="container">
        <div class="row justify-content-center">
           <div class="jumbotron">
                <h1 class="display-4">Administracion de Posts</h1>
                <hr class="my-4">
                <p class="lead">Desarrollamos un CRUD utiliando en Front-end Frameworks Javascript Cliente: Vue 2.5 y Frameworks Bootstrap 4. Back-end Laravel 5.6. Utilizamos Gestor de dependencias NPM, Composer y Axios para hacer solicitudes web y manejar respuestas. </p>
           </div>

           <!-- Button trigger modal -->
           <div class="row">
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-primary btn-lg"data-toggle="modal" data-target="#nuevo-post">Nuevo post</button>
              </div>
              <hr class="my-4">
          </div>
        </div>
         <div class="row">
        <div v-if="!posts.length" class="col-md-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">No hay ningun Post</h4>
                <p class="mb-0">Si quiere agregar un nuevo post, dar click en el boton "nuevo post"</p>
             </div>
        </div>
      </div>
        <div class="row">
            <div v-for="post in posts" class="col-12 col-md-4">
                <div class="card mb-3">
                  <div class="card-body">
                      <h5 class="card-title"> {{ post.nombre }}</h5>
                      <p class="card-text">{{ post.descripcion }} </p>
                      <a href="#" class="card-link" @click.prevent="cargarPost( post )">Actualizar</a>
                      <a href="#" class="card-link" @click.prevent="eliminarPost( post )">Eliminar</a>
                  </div>
                </div>
             </div>
      </div>
        <!-- Modal nuevo post -->
        <div class="modal fade" id="nuevo-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar  nuevo post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             <form method="post" enctype="multipart/form-data" @submit.prevent="crearPost">
              <div class="modal-body">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="titulo" v-model="nuevoPost.titulo" placeholder="Ingrese el nombre del post">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                    <textarea class="form-control"  id="comentario" rows="3" v-model="nuevoPost.comentario" placeholder="Ingrese una descripcion del post"></textarea>
                    </div>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
             </form>
            </div>
          </div>
        </div>
        <!-- Modal editar post -->
        <div class="modal fade" id="editar-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Actualizar el post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" enctype="multipart/form-data" @submit.prevent="actualizarPost( editarPost.id )">
                <input type="hidden" name="_method" value="PUT">
                <div class="modal-body">
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-10">
                        <input type="text"  class="form-control" id="titulo" v-model="editarPost.titulo">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
                      <div class="col-sm-10">
                      <textarea class="form-control"  id="comentario" rows="3" v-model="editarPost.comentario"></textarea>
                      </div>
                  </div>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
               </form>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          posts: [],
            nuevoPost: { 'titulo': '', 'comentario': ''},
            editarPost: { 'titulo': '', 'comentario': '', 'id': ''}
        }
      },
        created() {
            this.getPosts();
        },
        methods: {
            getPosts() {
                axios.get( 'admin-posts' ).then( response => {
                    this.posts = response.data;
                })
            },
            crearPost(){
                  let datosForm = this.nuevoPost;
                  axios.post('admin-posts', datosForm).then( (response) => {
                    this.posts.push(response.data);
                    this.nuevoPost = {'titulo': '', 'comentario': ''};
                    $('#nuevo-post').modal('hide');
                  }).catch( (error) => {
                      console.log( error.response.data )
                  })
            },
              cargarPost( post ){
                let edit = this.editarPost;
                edit.titulo = post.nombre;
                edit.comentario = post.descripcion;
                edit.id = post.id;
                $("#editar-post").modal('show');
            },
             actualizarPost( id ){
               let datosForm = this.editarPost;
               axios.put('admin-posts/' + id, datosForm).then( (response)=> {
               this.getPosts();
               $('#editar-post').modal('hide');
               }).catch( (error)=> {
                   console.log( error.response.data )
               })
            },
            eliminarPost( post ) {
              axios.delete('admin-posts/' + post.id).then( (response) => {
              this.getPosts();
              });
            }
        }
    }
</script>
